/* Full Screen */
.splash{

    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

}


.splash h1{

    font-size:70px;
    font-weight:800;

}
.splash span{

    color:#2563eb;
}
.splash-screen{

    position:fixed;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:white;
   overflow:hidden;
    z-index:9999;
    animation:screenFade .8s forwards;
    animation-delay:2.6s;
}
/* Logo */
.logo{

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:70px;

    font-weight:800;

    letter-spacing:3px;

}



/* Giant O */

.big-o{

    color:#2563eb;

    display:inline-block;

    animation:

    growShrink 1.3s ease forwards;

}



/* PPORA */

.rest-text{

    color:#111827;

    opacity:0;

    margin-left:0;

    animation:

    showText .7s ease forwards;

    animation-delay:1.1s;

}



/* Tagline */

.tagline{

    margin-top:12px;

    font-size:18px;

    color:#6b7280;

    opacity:0;

    animation:fadeUp .7s ease forwards;

    animation-delay:1.6s;

}



/* O Animation */

@keyframes growShrink{

    0%{

        transform:scale(.2) rotateY(0deg);

        opacity:0;

    }

    25%{

        opacity:1;

        transform:scale(3.5) rotateY(0deg);

    }

    55%{

        transform:scale(3.5) rotateY(180deg);

    }

    100%{

        transform:scale(1) rotateY(360deg);

    }

}



/* Text Appears */

@keyframes showText{

    from{

        opacity:0;

        transform:translateX(-25px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}



/* Tagline */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}



/* Fade Splash */

@keyframes screenFade{

    to{

        opacity:0;

        visibility:hidden;

    }

}



/* Mobile */

@media(max-width:768px){

.logo{

    font-size:46px;

}

.tagline{

    font-size:15px;

}

}